@import 'variables';
@import 'framework';
@import 'elements';
@import 'icons';
@import 'layout';
@import 'loader';

#bank-transfer-data-table {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;

    td {
        border: 1px dotted $primary-color;
        padding: 7px;

        &:first-child {
            min-width: 160px;
        }
    }
}

#bank-transfer-qrcodes {
    margin: auto;
    max-width: 672px;

    .bank-transfer-qrcode {
        float: left;
        text-align: center;
        margin: 40px;
    }
}

#donation-form-loader {
    width: 64px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
}

// -- Home --

#home-hero-bg {
    min-height: 20vh;
    height: 580px;
    background-color: $bg-accent-color;
}

#home-top-row {
    height: 420px;
    margin-bottom: 80px;
    margin-top: 50px;

    @include mobile {
        height: auto;
        background-color: $bg-accent-color;
        padding-bottom: 20px;
    }

    .container {
        height: 100%;
    }

    .col33 {
        padding-top: 50px;
        height: 100%;
        box-sizing: border-box;

        @include mobile {
            width: 100%;
            margin-bottom: 40px;
            float: none;
            padding-top: 20px !important;
        }
    }
}

.home-card {
    position: relative;
    border: 2px solid $primary-color;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 15px;
    padding-top: 35px;
    margin: 10px;
    height: 100%;

    .top-icon {
        position: absolute;
        text-align: center;
        background: #f0f7ff;
        top: -60px;
        font-size: 30px;
        margin-right: -50px;
        padding: 15px;
        width: 70px;
        height: 30px;
        right: 50%;
        color: $primary-color;
    }

    h2 {
        text-align: center;
        color: $primary-color;
    }

    p {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    button,
    .button {
        position: absolute;
        text-align: center;
        width: 90%;
        bottom: 15px;
    }
}

.home-wide-image {
    height: 200px;
    width: 100%;
    overflow: hidden;
    background-position: center center;
    background-size: 100% auto;
    margin: 10px;
}

table {
    td,
    th {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.top-right-humaaan {
    float: right;
    height: 400px;
    margin-right: -250px;
    margin-top: -80px;

    @include mobile {
        margin: 0;
        float: none;
        width: 80vw;
        height: auto;
    }
}
