
{{ define "main" }}
<main class="narrow-page">

	{{ .Content }}

    <div id="donation-form-container" class="box" style="margin: 40px 0;">
        <form id="donation-form">
            <div id="donation-form-amount-section" class="donation-form-section">
                <h2>{{ T "donation-form-how-much" }}</h2>
                <div class="col60 donation-form-main-column">
                    <div class="input-addon-container">
                        <input name="amount" id="donation-form-amount" type="number" step="0.01" min="0.00" class="form-element" style="text-align: right;">
                        <div class="input-addon">€</div>
                    </div>

                    <div id="donation-form-amount-buttons"></div>
                </div>
                <div class="col40 donation-form-info-column">
                    <p>{{ T "donation-form-amount" | safeHTML }}</p>
                </div>
            </div>
            <div class="clearfix"></div>

            <div id="donation-form-payment-method-section" class="donation-form-section">
                <h2>{{ T "donation-form-how" }}</h2>
                <div class="col60 donation-form-main-column">
                    <div id="donation-form-payment-method-buttons" class="radio-group radio-group-vertical"></div>
                </div>
                <div class="col40 donation-form-info-column" id="donation-form-info-column">
                </div>
                <div id="donation-form-loader" class="lds-ring hidden"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="clearfix"></div>

            <!-- TODO: How about offering to add a comment to a donation? That should be pretty easy to implement since we already have yace which is explicitly designed with the necessary flexibilty to do something like this in mind. -->

            <div class="donation-form-section" style="margin-top: 30px;">
                <button id="donation-form-next-button" class="button-primary" style="float: right;">{{ T "donation-form-next-step" }}</button>
            </div>
            <div class="clearfix"></div>
        </form>

        <div id="bank-transfer-info" class="donation-form-section hidden">
            <h2>{{ T "donation-bank-transfer-heading" }}</h2>
            <table id="bank-transfer-data-table" cellspacing="0">
                <tr><td>{{ T "donation-bank-transfer-recipient" }}</td><td>Datenanfragen.de e.&thinsp;V.</td></tr>
                <tr><td>IBAN</td><td>DE42 8306 5408 0104 0851 40</td></tr>
                <tr><td>{{ T "donation-bank-transfer-financial-institution" }}</td><td>Deutsche Skatbank Zweigniederlassung der VR-Bank Altenburger Land GbR</td></tr>
                <tr><td>BIC</td><td>GENODEF1SLR</td></tr>
                <tr><td>{{ T "donation-bank-transfer-reference" }}</td><td id="bank-transfer-donation-reference"></td></tr>
                <tr><td>{{ T "donation-bank-transfer-amount" }}</td><td id="bank-transfer-donation-amount"></td></tr>
            </table>

            <h2>{{ T "donation-bank-transfer-qrcodes" }}</h2>

            <div id="bank-transfer-qrcodes">
                <div id="bank-transfer-epcr-qrcode" class="bank-transfer-qrcode"><strong>EPCR-QR-CODE</strong></div>
                <div id="bank-transfer-bezahlcode-qrcode" class="bank-transfer-qrcode"><strong>BezahlCode</strong></div>
                <div class="clearfix"></div>
            </div>

            <button id="donation-form-back-button" class="button-primary icon-arrow-left"><span class="sr-only">{{ T "donation-form-back" }}</span></button>
            <button id="donation-form-print-button" class="button-secondary icon icon-print" onclick="printElementById('bank-transfer-info')">{{ T "donation-form-print" }}</button>
            <a id="donation-form-thanks-button" class="button button-primary" style="float: right;" href="{{ ref . "thanks" }}">{{ T "donation-form-thanks" }}</a>
            <div class="clearfix"></div>
        </div>
    </div>


    {{ with .Resources.GetMatch "q-and-a*" }}{{ .Content }}{{ end }}

</main>
{{ end }}

{{ define "scripts" }}
<script type="text/javascript" src='{{ "js/qrcode.min.js" | absURL }}'></script>
<script>
	const TRANSLATIONS = JSON.parse({{ T "donation-form-translations" }});
	const SERVERLESS_DONATIONS_API = "https://donate.datenanfragen.de";

	const SUGGESTED_AMOUNTS = [ 5, 10, 15, 25, 50, 75, 100, 150, 200, 250 ];
	// const PAYMENT_METHODS = [ 'bank-transfer', 'paysafecard', 'directdebit', 'creditcard', 'paypal', 'cryptocurrency', 'mollie' ];
    const PAYMENT_METHODS = [ 'bank-transfer', 'cryptocurrency' ];

	document.getElementById('donation-form-amount').oninput = function(e) {
		document.querySelectorAll('#donation-form-amount-buttons > button').forEach(function(button) { button.classList.remove('button-primary'); });
		if(SUGGESTED_AMOUNTS.includes(parseFloat(e.target.value))) {
			document.getElementById('donation-form-amount-button-' + e.target.value).classList.add('button-primary');
		}
		document.getElementById('donation-form-info-amount-value').innerText = Number.parseFloat(e.target.value || 0).toFixed(2).toLocaleString();
	};

	window.onload = function() {
        let donation_reference = findGetParameter('donation_reference');
        if(!!donation_reference) {
            getRequest(SERVERLESS_DONATIONS_API + '/state/' + donation_reference)
                .then(response => {
                    if(response && response.status) {
                        switch (response.status) {
                            case 'paid':
                                window.location = "{{ ref . "thanks" }}?donation_reference=" + response.reference;
                                break;
                            case 'failed':
                                // TODO: Inform the user properly
                                alert('Payment failed.');
                                break;
                            case 'expired':
                                // TODO: Inform the user
                        }
                    } else {
                        throw {message: 'Malformed response body.', data: data};
                    }
                })
                .catch(error => {
                    console.log(error);
                }); // TODO: Error Handling
        }

		SUGGESTED_AMOUNTS.forEach(function(amount) {
			let btn = document.createElement('button');
			btn.id = 'donation-form-amount-button-' + amount;
			btn.innerText = amount + ' €';
			btn.onclick = function(e) {
				e.preventDefault();
				let el = document.getElementById('donation-form-amount');
				el.value = amount;
				el.dispatchEvent(new Event('input'));
			};
			document.getElementById('donation-form-amount-buttons').appendChild(btn);
		});

		PAYMENT_METHODS.forEach(function (payment_method) {
			let id = 'payment-method-choice-' + payment_method;

			let label = document.createElement('label');
			label.id = id + '-label';
			label.htmlFor = id;
			label.classList.add('radio-label');
			label.innerText = TRANSLATIONS[payment_method];

			let input = document.createElement('input');
			input.id = id;
			input.type = 'radio';
			input.name = 'payment-method';
			input.value = payment_method;
			input.onchange = function(e) {
				document.querySelectorAll('#donation-form-payment-method-buttons > label.radio-label').forEach(function(el) { el.classList.remove('active'); });
				document.getElementById('payment-method-choice-' + payment_method + '-label').classList.add('active');
				changeInfo(payment_method);
			};
			input.classList.add('form-element');

			label.appendChild(input);

			document.getElementById('donation-form-payment-method-buttons').appendChild(label);
		});

		document.querySelector('#donation-form-payment-method-buttons input[type=radio]').checked = true;
		document.querySelector('#donation-form-payment-method-buttons > label.radio-label').classList.add('active');
		changeInfo(PAYMENT_METHODS[0]);

		document.getElementById('donation-form-next-button').onclick = handlePayment;

        document.getElementById('donation-form-back-button').onclick = event => {
            let bank_transfer_info = document.getElementById('bank-transfer-info');
            let donation_form = document.getElementById('donation-form');
            donation_form.classList.remove('hidden');
            bank_transfer_info.classList.add('hidden');
        };

		let amount_input = document.getElementById('donation-form-amount');
		amount_input.value = 15.00;
		amount_input.dispatchEvent(new Event('input'));
	};

	function handlePayment(e) {
		e.preventDefault();
        if(window.ongoing_request) return;

        let donation_reference = almostUniqueId();
        let amount = isNaN(document.forms['donation-form'].elements['amount'].value) ? 0 : document.forms['donation-form'].elements['amount'].value;
        let payment_method = document.forms['donation-form'].elements['payment-method'].value;

        switch(payment_method) {
			case 'bank-transfer':
                let bank_transfer_info = document.getElementById('bank-transfer-info');
                let reference_field = document.getElementById('bank-transfer-donation-reference');
                let amount_field = document.getElementById('bank-transfer-donation-amount');
                let donation_link = document.getElementById('donation-form-thanks-button');

                reference_field.innerText = 'Spende #' + donation_reference;
                amount_field.innerText = Number(amount).toLocaleString("{{ .Lang }}", {minimumFractionDigits: 2}) + ' €';
                donation_link.setAttribute("href", "{{ ref . "thanks" }}?donation_reference=" + donation_reference);

                document.forms['donation-form'].classList.add('hidden');
			    bank_transfer_info.classList.remove('hidden');

                if(window.epcr_qrcode) {
                    window.epcr_qrcode.makeCode(epcrQrCode(amount, 'Spende #' + donation_reference));
                } else {
                    window.epcr_qrcode = new QRCode(document.getElementById('bank-transfer-epcr-qrcode'), {
                        text: epcrQrCode(amount, donation_reference),
                        width: 256,
                        height: 256,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.M // see Specification
                    });
                }

                if(window.bezahlcode) {
                    window.bezahlcode.makeCode(bezahlCode(amount, donation_reference));
                } else {
                    window.bezahlcode = new QRCode(document.getElementById('bank-transfer-bezahlcode-qrcode'), {
                        text: bezahlCode(amount, donation_reference),
                        width: 256,
                        height: 256,
                        colorDark : "#000000",
                        colorLight : "#ffffff",
                        correctLevel : QRCode.CorrectLevel.M
                    });
                }

                break;
			case 'paypal':
                toggleRequest();
                clientPost('https://www.paypal.com/cgi-bin/webscr', {
			        "amount": amount,
			        "cmd": "_s-xclick",
                    "hosted_button_id": "FS2ZF564BTDAC"
                }, "_top");
                toggleRequest();
                break;
            case 'mollie':
                payment_method = ['sofort', 'giropay', 'eps', 'bancontact', 'ideal', 'kbc', 'belfius', 'inghomepay'];
                // break intentionally left out
            case 'creditcard':
            case 'directdebit':
            case 'paysafecard':
                //alert('This feature is currently under development');
                //break;
                toggleRequest();
                postRequest(SERVERLESS_DONATIONS_API, {
                    payment_provider: "mollie",
                    data: {
                        "locale": "{{ .Param "mollieLocale" }}",
                        "amount": {
                            "value": Number(amount).toFixed(2),
                            "currency": "EUR",
                        },
                        "description": "Spende für Datenanfragen.de e. V.",
                        "redirectUrl": BASE_URL + "donate/?donation_reference=" + donation_reference,
                        "method": payment_method,
                        "metadata": {
                            "donation_reference": donation_reference
                        }
                    }
                })
                    .then(data => {
                        if(data && data.auth_url) {
                            window.location = data.auth_url;
                        } else {
                            throw {message: 'Malformed response body.', data: data};
                        }
                    }).catch(e => {
                    console.error(e);
                    toggleRequest();
                }); // TODO: Error Handling
                break;
            case 'cryptocurrency':
                toggleRequest();
                postRequest(SERVERLESS_DONATIONS_API, {
                    payment_provider: "coingate",
                    data: {
                        "price_amount": Number(amount).toFixed(2),
                        "price_currency": "EUR",
                        "receive_currency": "EUR",
                        "title": "Spende für Datenanfragen.de e. V.",
                        "success_url": BASE_URL + "danke/?donation_reference=" + donation_reference,
                        "cancel_url": BASE_URL + "donate",
                        "order_id":  donation_reference
                    }
                })
                    .then(data => {
                        if(data && data.auth_url) {
                            window.location = data.auth_url;
                        } else {
                            throw {message: 'Malformed response body.', data: data};
                        }
                    }).catch(e => {
                    console.error(e);
                    toggleRequest();
                }); // TODO: Error Handling
                break;
        }
	}

	function changeInfo(payment_method) {
        let info = document.createElement('p');
        info.appendChild(document.createTextNode(TRANSLATIONS[payment_method + '-info']));

        let info_column = document.getElementById('donation-form-info-column');
        info_column.replaceChild(info, info_column.firstChild);
	}

	function toggleRequest(loader) {
	    let donation_form_loader = document.getElementById('donation-form-loader');
        let next_button = document.getElementById('donation-form-next-button');
	    if(window.ongoing_request) {
	        donation_form_loader.classList.add('hidden');
	        next_button.classList.remove('disabled');
	        window.ongoing_request = false;
        } else {
            donation_form_loader.classList.remove('hidden');
            next_button.classList.add('disabled');
            window.ongoing_request = true;
        }
    }

	function postRequest(url, data) {
	    return fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json; charset=utf-8",
            },
            body: JSON.stringify(data),
        }).then(response => response.json());
    }

    function getRequest(url) {
        return fetch(url, {
            method: "GET"
        }).then(response => response.json());
    }

    // adapted from https://stackoverflow.com/a/133997
    function clientPost(url, params, target) {
        let form = document.createElement("form");
        form.setAttribute("method", "POST");
        form.setAttribute("action", url);
        form.setAttribute("target", target || "_parent");

        for(let key in params) {
            if(params.hasOwnProperty(key)) {
                let hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    }

    function epcrQrCode(amount, reference) {
        return "BCD\n" // Service Code
            + "002\n" // Version
            + "1\n" // Encoding (1=UFT-8)
            + "SCT\n" // SEPA Credit Transfer
            + "GENODEF1SLR\n" // BIC
            + "Datenanfragen.de e. V.\n" // Recipient (up to 70 characters)
            + "DE42830654080104085140\n" // IBAN
            + "EUR" + Number.parseFloat(amount).toFixed(2) + "\n" // Amount (format: EUR#.##)
            + "CHAR\n" // AT-44 purpose code (CHAR is for charity reasons)
            + "\n" // Creditor Reference
            + reference + "\n" // Statement Reference
            + "Spende an Datenanfragen.de e. V."; // Information to the user
	}

	function bezahlCode(amount, reference) {
	    return "bank://singlepaymentsepa?"
            + "name=" + encodeURIComponent("Datenanfragen.de e. V.")
            + "&iban=DE42830654080104085140"
            + "&bic=GENODEF1SLR"
            + "&amount=" + encodeURIComponent(Number.parseFloat(amount).toFixed(2).replace('.', ','))
            + "&reason=" + encodeURIComponent(reference)
            + "&currency=EUR";
    }

    function printElementById(id) {
	    // take from https://stackoverflow.com/a/12997207
        let prtContent = document.getElementById(id);
        let WinPrint = window.open('', '', 'left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0');
        let style = "<style>" +
            "#bank-transfer-data-table td { border: 1px solid #000; padding: 10px; } " +
            "button { display: none; } " +
            "#bank-transfer-qrcodes { margin: auto; max-width: 672px; } " +
            ".bank-transfer-qrcode { float: left; text-align: center; margin: 40px; } " +
            "</style>";
        WinPrint.document.write(style + prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
    }

    function almostUniqueId(length = 9) {
	    let d = new Date();
        return ("" + d.getUTCFullYear()).slice(-2) + ("0"+(d.getUTCMonth()+1)).slice(-2) + ("0" + d.getUTCDate()).slice(-2)
            + Math.random().toString(36).substr(2, length).toUpperCase();
    }

    function findGetParameter(parameterName) {
        var result = null,
            tmp = [];
        location.search
            .substr(1)
            .split("&")
            .forEach(function (item) {
                tmp = item.split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            });
        return result;
    }
</script>
{{ end }}

{{ define "styles" }}
<style>
#donation-form {
	padding-bottom: 30px;
}

#donation-form h2 {
	margin: 0 0 20px 0;
}

.donation-form-section {
	margin: 20px 0;
}

#donation-form-amount-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#donation-form-amount-buttons > button {
	padding: 15px;
	margin-bottom: 10px;
	width: 75px;
}

.donation-form-info-column > * {
	margin: 10px 0 0 20px;
}
</style>
{{ end }}
